*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    padding: 4px;
}
header {
    border:4px solid blue ;
    border-radius: 12px;
    padding: 8px;
}
.large {
    width:100%;
}
header a {
    text-decoration: none;
    border: 1px solid navy;
    background-color: navy;
    color: white;
    padding: 4px;
    border-radius: 6px;
}
h1 {
    text-align: center;
    border: 3px solid red;
    margin: 6px 0px;
    border-radius: 5px;

}
span {
    color: limegreen
}
.footer {
    border: 10px solid rgba(221, 148, 124, 0.936);
    padding: 5px
}
nav { padding: 7px 0px ;
margin-top: 4px;
}
nav a {
    border: 4px solid navy;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background-color: navy;
    margin:4px;
}
.p {
    border: 5px solid orange;
    background-color: aqua;
    border-radius: 5px;
    padding: 7px 15px;
}
.sd {
    border: 3px solid cyan;
    border-radius: 5px;
    background-color: aquamarine;
    margin: 7px
}
